{% extends 'layout/main_layout.html' %}

{% block title %} Инструкция{% endblock %}
{% block content %}
   <div class="jumbotron">
  <h3 class="text-center mb-3">1. Найти слово, похожее на введеное</h3>
    <div class="container bg-light">
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">URL</th>
      <th scope="col" class="text-center">Пример ответа</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
          <code>http://{{domain}}/api/twin/двойник</code>

      </td>
      <td class="text-center">
          <samp>{"word": "кофейник", "hit": 20}</samp>
          <br>*** ЛИБО ***<br>
          <samp>{"error": "Допустимы только буквы татарского алфавита и пробел!"/"Максимум 20 символов"}</samp>
      </td>
    </tr>
  </tbody>
</table>
    </div>
</div>

    <div class="jumbotron">
  <h3 class="text-center mb-3">2. Найти слово, похожее на введеное с его полным описанием</h3>
    <div class="container bg-light">
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">URL</th>
      <th scope="col" class="text-center">Пример ответа</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
          <code>http://{{domain}}/api/twin_full/папа</code>
      </td>
      <td class="text-center">
          <samp>{"word": "апа", "hit": 20, "translations":[<br>
              {"translation":апасы разг. (обращение родителей или других взрослых...),<br>
                "examples":[
                    "апасы, уенчыгын алып бир әле энекәшеңә — сестри́чка, пода́й-ка брати́шке игру́шку",<br>
                ]<br>
              },<br>
              {"translation":ста́ршая сестра́,<br>
                "examples":[
                    "апасы аны бакчага йөртә — сестра́ во́дит его́ в са́дик",<br>
                    "апа хаты — се́стрино письмо́; письмо́ (от) сестры́",<br>
                    ...<br>
                ]<br>
              },<br>
              ...<br>
              ]}</samp>
          <br>*** ЛИБО ***<br>
          <samp>{"error": "Допустимы только буквы татарского алфавита и пробел!"/"Максимум 20 символов"}</samp>
      </td>
    </tr>
  </tbody>
</table>
    </div>
</div>

    <div class="jumbotron">
  <h3 class="text-center mb-3">3. Самые популярные слова</h3>
    <div class="container bg-light">
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">URL</th>
      <th scope="col" class="text-center">Пример ответа</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
          <code>http://{{domain}}{% url 'top' 2%}</code>
      </td>
      <td class="text-center">
          <samp>[{"word": "аеры","hit":139}, {"word": "торос","hit":52}]</samp>
          <br>*** ЛИБО ***<br>
          <samp>{"error": "Допустимы только буквы татарского алфавита и пробел!"/"Максимум 20 символов"}</samp>
      </td>
    </tr>
  </tbody>
</table>
    </div>
</div>
{% endblock %}
