SECRET_KEY=secret
SOCIAL_AUTH_VK_OAUTH2_KEY=key
SOCIAL_AUTH_VK_OAUTH2_SECRET=secret

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=example@gmail.com
DEFAULT_FROM_EMAIL=example@gmail.com
EMAIL_HOST_PASSWORD=email_password
EMAIL_USE_TLS=True
EMAIL_PORT=587

PROJECT_DB_NAME=project_db_name
PROJECT_USER=postgres
PROJECT_USER_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB_NAME=postgres

DEBUG=True

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

REDIS_CHANNELS_HOST=redis
REDIS_LOCATION=redis://redis:6379/
MEMCACHED_LOCATION=memcached
ALLOWED_HOST=*