{% extends 'layout/main_layout.html' %}

{% block title %} История {% endblock %}
{% block content %}
    <div class="container ">

    {% if pairs %}
        {% if user.is_authenticated %}
            <div class="alert alert-info">
                <h4>Последние 100 запросов:</h4>
            </div>
        {% else %}
            <div class="alert alert-info">
                <h4>Запросы за последнюю минуту:</h4>
            </div>
        {% endif %}
        <div class="d-flex justify-content-around mb-3">
            {% if page.has_previous and page.has_next %}
                <a href="{% url 'show_history'%}?page={{ page.previous_page_number }}"><button type="button" class="btn btn-primary" >&laquo;</button></a>
                <span class="text-dark">Страница  {{ page.number }} из {{ page.paginator.num_pages }}</span>
                <a href="{% url 'show_history'%}?page={{ page.next_page_number }}"><button type="button" class="btn btn-primary" >&raquo;</button></a>
            {% elif page.has_next %}
                <a href="#"><button type="button" class="btn btn-primary" disabled>&laquo;</button></a>
                <span class="text-dark">Страница  {{ page.number }} из {{ page.paginator.num_pages }}</span>
                <a href="{% url 'show_history'%}?page={{ page.next_page_number }}"><button type="button" class="btn btn-primary" >&raquo;</button></a>
            {% elif page.has_previous %}
                <a href="{% url 'show_history'%}?page={{ page.previous_page_number }}"><button type="button" class="btn btn-primary" >&laquo;</button></a>
                <span class="text-dark">Страница  {{ page.number }} из {{ page.paginator.num_pages }}</span>
                <a href="#"><button type="button" class="btn btn-primary" disabled>&raquo;</button></a>
            {% endif %}
        </div>
        <table class="table table-striped table-dark table-bordered">
          <thead class="bg-success">
            <tr>
              <th scope="col" >#</th>
              <th scope="col" class="text-center">Ввод</th>
              <th scope="col" class="text-center">Результат</th>
              <th scope="col" class="text-center">Подробнее</th>
            </tr>
          </thead>
          <tbody>
          {% for tatar_word,russian_word in pairs %}
            <tr>
              <th scope="row"> {{forloop.counter|add:pos_addition }}</th>
              <td class="text-center">{{ russian_word }}</td>
              <td class="text-center">{{ tatar_word|capfirst }}</td>
              <td class="text-center"><a href="{% url 'show_detail' tatar_word.pk %}">
                  <button class="btn btn-primary"> Узнать подробнее о слове"{{ tatar_word }}"</button></a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <p>Тут будет история ваших запросов. Введите что-нибудь на главной странице</p>
        </div>
    {% endif %}
    </div>


{% endblock %}