
{% if tatar_word %}
    <div class="alert alert-success" role="alert" id="description">
        <a href="{% url 'show_detail' tatar_word.pk%}"><button type="button" class="btn btn-primary btn-lg btn-block">{{ tatar_word|capfirst }}</button></a>
        <ol class="pl-2">
            {% for translation in tatar_word.translations.all %}
                <li>{{ translation }}</li>
                {% for example in translation.examples.all %}
                    <p class="pl-4 mb-1"><i>"{{ example }}"</i></p>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
{% endif %}
